.step-title {
  font-size: 2em;
  font-weight: bold;
}

.step-summary {
  color: var(--secondary-text);
}

.form-group {
  margin: 3.5em 5em;
}

.button-group {
  margin: 5em 0 1em;
  display: flex;
  justify-content: space-between;
}
.back-button,
.next-button,
.submit-button {
  padding: 1em 1.5em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.back-button {
  background: var(--background-primary-light);
  color: var(--secondary-text-dark);
}
.back-button:hover,
back-button:focus {
  color: var(--primary-text-dark);
}

.next-button {
  background-color: var(--button-background);
  color: var(--primary-text-light);
  margin-left: auto;  /* This ensures that the button is right aligned even if its the only button */
}
.next-button:hover,
.next-button:focus {
  background-color: var(--button-background-active);
}
.next-button:disabled {
  background: var(--secondary-text-light);
}

.submit-button {
  background-color: var(--primary-background-dark);
  color: var(--primary-text-light);
}
.submit-button:hover,
.next-button:focus {
  background-color: var(--button-background-active);
}
.submit-button:disabled {
  background: var(--secondary-text-light);
}
