.form-control {
    display: block;
    margin: 1.5em 0;
}

.form-label {
    display: block;
    margin-bottom: .5em;
}

.form-input {
    border-radius: .5em;
    border: 1px solid var(--secondary-border);
    padding: 1em;
    width: 100%;
    font-weight: bold;
}
.form-input:focus {
    outline: 2px solid var(--primary-border);
    border-color: transparent;
}
.form-input::placeholder {
  color: var(--secondary-text);
}