body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1;

  color: var(--primary-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
    --primary-text-dark: #03295a;
    --primary-text-light: white;

    --secondary-text-dark: #a7a7a7;
    --secondary-text-light: #cccccc;

    --primary-text: var(--primary-text-dark);
    --secondary-text: var(--secondary-text-dark);
}