body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1;
  background: var(--backdrop-background);

  color: var(--primary-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
    --primary-text-dark: #03295a;
    --primary-text-light: white;

    --secondary-text-dark: #777777;
    --secondary-text-light: #cccccc;

    --primary-background-light: #ffffff;
    --primary-background-dark: #483eff;

    --backdrop-background: #eef5ff;

    --button-background: var(--primary-text-dark);
    --button-background-active: #164989;

    --primary-border: var(--primary-background);
    --secondary-border: var(--secondary-text-dark);

    --primary-text: var(--primary-text-dark);
    --secondary-text: var(--secondary-text-dark);

}